.faq-wrapper {

    .faq-content {
        margin-right: 90px;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        .accordion-item {
            border: 0;
            background-color: $white;
    
            .accordion-header { 
                .accordion-button { 
                    font-size: 22px;
                    font-weight: 400;
                    color: $black;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background-color: $white;
                    text-transform: capitalize;
                    padding: 25px 0;

                    @include breakpoint(max-xl){
                        font-size: 20px;
                    }
    
                    &::after {
                        content: "\2b";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 300;
                        transition: all 0.3s ease-in-out !important;
                        color: $black;
                    }

                    &:not(.collapsed)::after {
                        content: "\f068";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 300;
                    }
    
                    &.collapsed {
                        background-color: $white;
                        color: $black;
                        //border-bottom: none;
                        border-bottom: 1px solid rgba(86, 86, 86, 0.30);
                    }
                }
            }
    
            .accordion-collapse { 
    
                .accordion-body {
                    padding-right: 50px;
                    padding-left: 0;
                   // padding-top: 15px;
                    color: $text-color;
                    background-color: transparent;
                    padding-top: 0;
                    margin-top: -10px;
                    border-bottom: 1px solid rgba(86, 86, 86, 0.30);
                    padding-bottom: 20px;
    
                    @include breakpoint (max-lg){
                        padding-right: 30px;
                    }
                }
            }
        }
    }

    .faq-image {
        position: relative;

        &::before {
            @include before;
            border: 2px solid $theme-color;
            top: 25px;
            left: -22px;
            z-index: -1;

            @include breakpoint(max-xl){
                display: none;
            }
        }

        img {
            @include imgw;
        }

        .video-btn {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 50px;
            background-color: $white;
            color: $theme-color;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 24px;
            transform: translate(-50%,-50%);

            @include breakpoint (max-md){
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 18px;
            }
        }
    }
}


.faq-item {

    .faq-content {
        margin-bottom: 100px;

        @include breakpoint(max-lg){
            margin-bottom: 80px;
        }

        .accordion-item {
            border: 0;
            background-color: $white;
    
            .accordion-header { 
                .accordion-button { 
                    font-weight: 800;
                    color: $header-color;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background-color: $white;
                    text-transform: capitalize;
                    font-size: 16px;
                    padding: 30px 0;
    
                    &::after {
                        content: "\2b";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 700;
                        transition: all 0.3s ease-in-out !important;
                        color: $header-color;
                    }
    
                    &:not(.collapsed)::after {
                        content: "\f00d";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 700;
                        color: $header-color;
                    }
    
                    &.collapsed {
                        background-color: $white;
                        color: rgba(86, 86, 86, 1);
                        border-bottom: 1px solid rgba(86, 86, 86, 0.30);
                    }
                  
                }
            }
    
            .accordion-collapse { 
    
                .accordion-body {
                    padding-right: 50px;
                    padding-left: 0;
                   // padding-top: 15px;
                    color: $text-color;
                    background-color: transparent;
                    padding-top: 0;
                    margin-top: -10px;
                    border-bottom: 1px solid rgba(86, 86, 86, 0.30);
                    padding-bottom: 20px;
    
                    @include breakpoint (max-lg){
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}
